@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #162628;
}

/* .mainImage{
  position: 'relative';
  width: '100vw';
  height: '95vh';
} */

.overlayText {
  position: absolute;
  top: 80%;
  left: 5%;
  color: white;
  overflow:hidden;
  display:flex;  
  overflow-wrap: anywhere;
}
.overlayButtons {
  display: "inline-block";
  margin-left: 50px;
  margin-top: 15px;
}



h1 {
  font-size: 125px;
  line-height: 1;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 45px; /* Adjust the formula as needed */
  }
  .overlayText {
    top: 70%; /* Adjust the formula as needed */
    left:auto;
    width:100vw;
    text-align: center;
    display:inline-block;
  }
  .overlayButtons {
    margin-top: 10px;
    margin-left: 0px;
  }
}


